---
---
<div class="navbar">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>
<style>
    .navbar{
        padding:20px;
        display: flex;
        justify-content: space-between;
        background-color: aqua;
    }
</style>